version: '3.7'

services:

    web:
        image: nginx:latest
        container_name: nginx
        ports:
            - 127.0.0.1:80:80
        volumes:
            - ./app:/app
            - ./containers/nginx/conf:/etc/nginx/conf.d
            - ./logs/nginx:/var/log/nginx
        links:
            - php-fpm

    php-fpm:
        build:
            context: ./containers/php
            dockerfile: Dockerfile
        container_name: php-fpm
        ports:
            - 127.0.0.1:9000:9000
        volumes:
            - ./app:/app
            - ./containers/php/conf/php.ini:/usr/local/etc/php/php.ini
        environment:
            - DB_PORT=3306
            - DB_HOST=mysql
        links:
            - mysql

    mysql:
        image: mysql:5.7
        container_name: mysql
        restart: always
        volumes:
            - ./containers/mysql/conf:/etc/mysql
            - ./data:/var/lib/mysql
            - ./logs/mysql:/var/log/mysql
        environment:
            - MYSQL_ROOT_PASSWORD=secret
            - MYSQL_DATABASE=appdb
            - MYSQL_USER=appuser
            - MYSQL_PASSWORD=apppwd
        ports:
            - 127.0.0.1:3306:3306
